<mat-toolbar class="sticky-header">
  <!-- Bouton à gauche pour afficher/masquer la sidebar -->
  <button mat-icon-button aria-label="Menu" (click)="toggleSidebar.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Titre de l'application -->
  <span>LocaMat</span>

  <span class="spacer"></span> <!-- Cela pousse les éléments à droite -->

  <!-- Affichage des informations utilisateur et menu -->
  <div *ngIf="userDetails" class="user-info">
    <span>{{ userDetails.prenom }} {{ userDetails.nom }}</span> <!-- Affichage nom et prénom -->
    <button mat-icon-button aria-label="Profil" (click)="viewProfile()">
      <mat-icon>account_circle</mat-icon> <!-- Icône Profil -->
    </button>
    <button mat-icon-button aria-label="Déconnexion" (click)="logout()">
      <mat-icon>logout</mat-icon> <!-- Icône Déconnexion -->
    </button>
  </div>
</mat-toolbar>
