/* Footer fixe en bas de la page */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9; /* Garde la couleur actuelle */
  color: #000000; /* Texte noir */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Espace entre les éléments gauche et droite */
  align-items: center;
  z-index: 1000; /* S'assurer que le footer reste au-dessus des autres éléments */
  //box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Légère ombre pour donner un effet de profondeur */
}

/* Version de l'application */
.version-info {
  font-size: 1rem;
  font-weight: 500;
}

/* Bouton "Aide" */
.footer button {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer button:hover {
  background-color: #1976D2; /* Couleur plus foncée au survol */
}
