<div class="sidebar" [ngClass]="{ 'sidebar-open': isSidebarOpen, 'sidebar-closed': !isSidebarOpen }">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Accueil</a></li>
    <hr class="divider" />
    <li><a routerLink="/add-device" routerLinkActive="active">Ajouter matériel (a modifier)</a></li>
    <hr class="divider" />

    <!-- Sous-menu Admin -->
    <li *ngIf="isAdmin">
      <div (click)="toggleAdminMenu()" class="submenu-header">
        <a>Menu Administrateur</a>
      </div>
      <ul *ngIf="isAdminMenuOpen" class="submenu">
        <hr class="divider" />
        <li><a routerLink="/admin/devices" routerLinkActive="active">Gestion des matériels</a></li>
        <hr class="divider" />
        <li><a routerLink="/admin/users" routerLinkActive="active">Gestion des réservations</a></li>
        <hr class="divider" />
        <li><a routerLink="/admin/users" routerLinkActive="active">Gestion des utilisateurs</a></li>
        <hr class="divider" />
        <li><a routerLink="/admin/reports" routerLinkActive="active">Rapports et statistiques</a></li>
        <hr class="divider" />
      </ul>
    </li>
    <hr class="divider" />
  </ul>
</div>
