.reservation-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.device-details {
  text-align: center;
  margin-bottom: 20px;
}

.device-photo {
  max-width: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

.reservation-history {
  margin: 20px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reservation-history h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.reservation-history ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reservation-history li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.reservation-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.date-field {
  width: 100%;
}

.button-container {
  text-align: center;
}

button {
  padding: 10px 20px;
}

.mat-calendar-body-cell.reserved-date {
  color: #d9534f !important; /* Rouge pour les jours réservés */
  background-color: #fbe3e3 !important; /* Fond rouge clair */
  border-radius: 50%; /* Cercle autour de la date */
  font-weight: bold; /* Texte en gras */
}

.mat-calendar-body-cell.reserved-date:hover {
  background-color: #f8d7da !important; /* Fond plus clair au survol */
  color: #a71d2a !important; /* Rouge plus sombre au survol */
}
