<h1>Modifier un Matériel</h1>
<form [formGroup]="deviceForm" (ngSubmit)="updateDevice()" class="device-form">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" placeholder="Entrez le nom" required>
    <mat-error *ngIf="deviceForm.get('name')?.hasError('required')">
      Le nom est obligatoire.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Référence</mat-label>
    <input matInput formControlName="reference" placeholder="Entrez la référence" required>
    <mat-error *ngIf="deviceForm.get('reference')?.hasError('required')">
      La référence est obligatoire.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Numéro de téléphone (Optionnel)</mat-label>
    <input matInput formControlName="phoneNumber" placeholder="Entrez le numéro">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Lien de la photo (Optionnel)</mat-label>
    <input matInput formControlName="photo" placeholder="Entrez le lien de la photo">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Version</mat-label>
    <input matInput formControlName="version" placeholder="Entrez la version" required>
    <mat-error *ngIf="deviceForm.get('version')?.hasError('required')">
      La version est obligatoire.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="deviceForm.invalid">
    Modifier
  </button>
</form>
